/*Big tablet to big screen*/
@media only screen and (max-width: 1200px) {
    /* Do some stuff */
}

/*Small tablet to big tablet:  from 769px to 1024px*/
@media only screen and (max-width: 1024px) {
    
    .budget {
    width: 55%;
  
    }

    .container {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 18px 75px;
    }
    
    h2 { font-size: 16.5px;}

}

/*Small phone to small tablet: from 481px to 768px*/
@media only screen and (max-width: 768px) {
    .budget {
    width: 55%;
  
    }
    
    .budget__title {
    font-size: 16px;
    }

    .budget__value {
    font-size: 40px;
    }

    .add__container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .budget__income,
    .budget__expenses {
    padding: 8.5px;
    }
    .add__type,
    .add__description,
    .add__value{ height: 35px; }

    .add__btn { font-size: 30px;}

    .container {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 0 16px;
    }

    .income { margin-right: 16px;}

    h2 { font-size: 14px; text-align: center;} 
    
    .item { padding: 8.5px 10px;}

    .item__delete--btn { font-size: 18.5px; }

    .total{ font-size: 15px; }

    td{ font-size: 14px; }

    th{ font-size: 17px; }
}


/*Small phones from 0 to 480px*/
@media only screen and (max-width: 480px) {
    /* Do some stuff */
    
    .budget {
    width: 65%;
  
    }
    .container{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .income__list{
        margin-bottom: 20px;
    }
    .expenses__title,
    .icome__title{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .add__container {
        width: 100%
    }
    .add__description { width: 45%;}
    .add__value { width: 22%;}
    .add__type {
        width: 14%;
    }
}